# IDE
.vscode/
.idea/
.vs/

# Compiled files
*.o
*~
.cache/
build/
cmake-build-*/
__pycache__/

# C#
bin/
obj/
*.DotSettings
*.DotSettings.user
global.json

# JavaScript
**/node_modules/
package-lock.json
