BasedOnStyle: LLVM
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
InsertBraces: true
ContinuationIndentWidth: 2
